<%= provide(:title, "Gestiona tu equipo médico" ) %>
  
  <div class="section hero">
    <div class="w-container">
      <h1 class="hero-heading">Cuida tú equipo médico, simple</h1>
      <p class="hero-subhead">Sinapsis te ayuda a que tengas tu equipo médico listo para el cuidado de la salud de tus pacientes.</p>
      <div class="button-group">
      <%= link_to "Entrar", login_path, class: "nav-link sign-up" %>
      <%= link_to "Registrate", plans_path, class: "button", style:"background-color: #DD6922;" %>
      </div>
      <%= image_tag("2-big-screen.png", width:"940", alt:"2-big-screen.png", 
      								style: "margin-bottom: -2px;")%> 
    </div>
  </div>
  <div class="section" id="mobile">
    <div class="w-container">
      <h2 class="section-title">Sinapsis no se necesita instalar, esta en tu navegador</h2>
      <p class="section-subtitle">Por que preocuparse de tener que instalaciones, compra de servidores, soporte, etc. Con Sinapsis eso no ocurrirá.</p>
      <div class="w-row">
        <div class="w-col w-col-6 center">
        <%= image_tag("3-responsive-color.png", width:"452")%>
        </div>
        <div class="w-col w-col-6 content-column">
        <%= image_tag("4-icon-chrome.png", width:"37px", class: 'grey-icon' )%>
        <%= image_tag("4-icon-fire.png", width:"37px", class: 'grey-icon' )%>
        <%= image_tag("4-icon-ie.png", width:"37px", class: 'grey-icon' )%>
        <%= image_tag("4-icon-safari.png", width:"37px", class: 'grey-icon' )%>
          <h3>En tu navegador favorito.</h3>
          <p>Sinapsis se puede utilizar en todos los navegadores, ya sea de equipos de escritorio, laptops, tablets, celulares.
            <br>Donde se tenga capacidad de conexión de Internet Sinapsis estará.&nbsp;</p>
        </div>
      </div>
    </div>
  </div>
  <div class="section grey" id="features">
    <div class="w-container">
      <h2 class="section-title">¿Que es Sinapsis?</h2>
      <p class="section-subtitle">La administración del equipo médico es siempre benéfica a tu organización</p>
      <div class="w-row">
        <div class="w-col w-col-4">
          <div class="circle">
            <div class="number">1</div>
            <%= image_tag("desktop14.png", width:"256", class: 'frames' )%>
          </div>
          <h3>CMMS</h3>
          <p>Es un sistema para la gestión del equipo medico. Es un sistema computarizado para la administración de mantenimientos, que te permite mejorar o facilitar tu administración de tu equipo medico.</p>
        </div>
        <div class="w-col w-col-4">
          <div class="circle">
            <div class="number">2</div>
						<%= image_tag("medkit.png", width:"256", class: 'frames' )%>
          </div>
          <h3>¿En que Ayuda?</h3>
          <p>El equipo médico es uno de los recursos donde mas se gasta dentro de los hospitales. Ademas tiene un papel sumamente importante para la atención a la salud de los pacientes.&nbsp;
            <br>Sinapsis te permitirá poder tener tu equipo médico en optimas condiciones para una atención ideal a sus pacientes.</p>
        </div>
        <div class="w-col w-col-4">
          <div class="circle">
            <div class="number">3</div>
            <%= image_tag("correct8.png", width:"256", class: 'frames' )%>
          </div>
          <h3>Ventajas</h3>
          <p>Te ayuda a almacenar la información que se va generando de tus equipos y poder tenerla cuando la requieres. Esto te ayuda a poder tomar decisiones acerca de nuevas adquisiciones o de que hacer con los equipos que tienes. La información siempre es valiosa.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="section centered">
    <div class="w-container">
      <h2 class="section-title">¿Por que utilizar Sinapsis?</h2>
      <p class="section-subtitle">Sinapsis tiene funciones que te ayudaran a mejorar tu gestión del equipo médico</p>
      <div class="w-row">
        <div class="w-col w-col-4 w-col-small-4">
          <div class="icons">
          <%= image_tag("listing1.png", width:"64" )%>
          </div>
          <h3><span>Inventario</span></h3>
          <p>La Organización Mundial de la Salud, así como otros organizamos como el Consejo de Salud General,&nbsp;Joint Commission International, para sus acreditaciones pide contar con el inventario total de los equipos con los que cuenta su organización. Sinapsis le ayuda a poder generarlo y actulizarlo de una manera simple</p>
        </div>
        <div class="w-col w-col-4 w-col-small-4">
          <div class="icons">
					<%= image_tag("hostpital.png", width:"128" )%>
          </div>
          <h3>Áreas</h3>
          <p>Las áreas de tu organización se pueden tener ordenadas y de esta manera ver que realiza cada área, donde se localiza en el hospital, que subáreas la componen.</p>
        </div>
        <div class="w-col w-col-4 w-col-small-4">
          <div class="icons">
          	<%= image_tag("stethoscope6.png", width:"128" )%>
          </div>
          <h3>Equipos Médicos</h3>
          <p>La información del equipo siempre es importante entre mas información tengas de tu equipo mejor. Como tipo de equipo, función del equipo, lugar donde se encuentra, marca, modelo.</p>
        </div>
      </div>
      <div class="w-row">
        <div class="w-col w-col-4 w-col-small-4">
          <div class="icons">
          <%= image_tag("telephone65.png", width:"128" )%>
          </div>
          <h3>Contacto</h3>
          <p>Sinapsis te permite ver la información de los encargados de las áreas del hospital para siempre tener a la mano una forma de contacto con las diferentes partes del hospital. Ya que es trabajo de todos el mantener el equipo en optimas condiciones.</p>
        </div>
      </div>
    </div>
  </div>
  <footer class="section footer">
    <div class="w-container">
      <div class="w-row">
        <div class="w-col w-col-6">
          <div class="footer-text">Sinapsis</div>
        </div>
        <div class="w-col w-col-6 right-footer-col">
          <a class="w-inline-block social-icon" href="mailto:contacto@jazzhealthcare">
          	<%= image_tag("14-social-email.png", width:"20" )%>
          </a>
          <a class="w-inline-block social-icon" href="http://www.twitter.com/jazzhealthcare" target="_blank">
          <%= image_tag("14-social-twitter.png", width:"20") %>
          </a>
        </div>
      </div>
    </div>
  </footer>