<%= provide(:title, "Contactos") %>

<div class="page-header">
    <h2>Contactos</h2>
</div>
<div class="jumbotron" style="padding: 25px 0;">
  <div class="container" style="margin-top: 0;">
    <div class="table-responsive">
  	  <table class="table table-striped">
  	  	<thead>
  	  		<tr>
  	  			<td class="text-center"><strong>Área</strong></td>
  	  			<td class="text-center"><strong>Nombre</strong></td>
  	  			<td class="text-center"><strong>Telefono</strong></td>
  	  			<td class="text-center"><strong>Email</strong></td>
  	  			<td class="text-center"><strong>Editar</strong></td>
  	  		</tr>
  	  	</thead>
  	  	<tbody>
  			<% @contacts.each do |contact| %>
  				<tr>
  					<td class="text-center"><%= contact.area_name %></td>
  					<td class="text-center"><%= contact.name %></td>
  					<td class="text-center"><%= contact.phone %></td>
  					<td class="text-center"><%= contact.email %></td>
  					<td class="text-center"><%= link_to "Editar", edit_hospital_area_contact_path(current_hospital, contact.area_id, contact), :class => "btn", style: "margin-top: -8px; color: cornflowerblue;" %></td>
  				</div>
  				</tr>
  			<% end %>
  			</tbody>
  		</table>
    </div>
	</div>
</div>
