<%= provide(:title, "Nuevo Hospital") %>
<div class="container">
  <div class="page-header">
    <h1>Registro <small>Registro Hospital</small></h1>
    <div class="progress">
      <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
      </div>
    </div>
  </div>
  <%= form_for(@hospital, html: { class: "form-signin",
            style:"border-radius: 10px; background-color: #eeeeee; max-width: 650px;" })  do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <h2 class="form-signin-heading">Teclee los datos del hospital</h2>
      <%= f.text_field :name, class: "form-control", placeholder: "Nombre",
                                            required: true, autofocus: true %>  
      <div class="panel panel-default">
        <div class="panel-heading">
          Dirección
        </div>
        <div class="panel-body">
          <div class="col-xs-6">
            <%= f.text_field :street, class: "form-control", placeholder: "Nombre",
                                                  required: true, autofocus: true %>  
          </div>
          <div class="col-xs-6">
            <%= f.text_field :number, class: "form-control", placeholder: "Numero",
                                                  required: true %>  
          </div>
          <div class="col-xs-6">
            <%= f.text_field :postal_code, class: "form-control", placeholder: "C.P",
                                                  required: true %>  
          </div>
          <div class="col-xs-6">
            <%= f.text_field :city, class: "form-control", placeholder: "Ciudad",
                                                  required: true %>  
          </div>
                    <div class="col-xs-6">
            <%= f.text_field :state, class: "form-control", placeholder: "Estado",
                                                  required: true %>  
          </div>
                    <div class="col-xs-6">
            <%= f.text_field :country, class: "form-control", placeholder: "Pais",
                                                  required: true %>  
          </div>
        </div>
      </div>   
      
    <%= f.submit "Crear Cuenta", class: "btn btn-lg btn-primary btn-block" %> 
  <% end %>
</div>