<%= provide(:title, "Plan") %>
<div class="container">
  <div class="page-header">
    <h1>Nuevo Plan <small>Datos</small></h1>
  </div>
</div>
<div class="container">
    <%= form_for(@plan, html: { class: "form-signin",
            style:"border-radius: 10px; background-color: #eeeeee;" })  do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <h2 class="form-signin-heading">Teclee datos del plan</h2>
    <%= f.text_field :name, class: "form-control", placeholder: "Nombre",
                                              required: true, autofocus: true %>
    <%= f.text_field :cost, class: "form-control", placeholder: "Costo",
                                              required: true %>
    <%= f.text_area :description, class: "form-control", placeholder: "Descripción",
                                              required: true, 
                                              style: "height: 145px;" %>                                   
    <%= f.submit "Guardar Plan", class: "btn btn-lg btn-primary btn-block" %> 
  <% end %>
</div>