<ul class="nav navbar-nav side-nav">
    <li>
			 <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-stethoscope"></i> Equipo <i class="fa fa-fw fa-caret-down"></i></a>
        <ul id="demo" class="collapse">
            <li>
              <%= link_to  hospital_equipment_index_path(current_hospital), id: "" do %>
                <i class="fa fa-fw fa-cubes"></i> 
                Todos
              <% end %>
            </li>
            <li>
          		<%= link_to  new_hospital_equipment_path(current_hospital) do %>
			          <i class="fa fa-fw fa-plus-circle"></i> 
			          Nuevo Equipo
			        <% end %>
            </li>
        </ul>
    </li>
    <li>
        <%= link_to hospital_floors_path(current_hospital), id: "" do %>
          <i class="fa fa-fw fa-hospital-o"></i> 
          Áreas
        <% end %>
    </li>
    <li>
      <%= link_to hospital_contacts_path(current_hospital), id: "" do %>
			  <i class="fa fa-fw fa-phone"></i>
			  Contacto
			<% end %>
    </li>
    <li>
      <%= link_to account_path(current_user.id), id: "" do %>
        <i class="fa fa-fw fa-cogs"></i>
        Cuenta
      <% end %>
    </li>
    <li>
      <%= link_to logout_path, method: "delete",  id: "" do %>
        <i class="fa fa-fw fa-power-off"></i>
        Cerrar
      <% end %>
    </li>
    
</ul>
<!-- /.navbar-collapse -->
